@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

:root {
    --font-title: "Sevillana", serif;
    --font-text: "Raleway", serif;
    --weight-400: 400;
    --weight-600: 600;
    --primary-color: #bcc584;
    --secundary-color: #5a5e3f;
    --tertiary-color: #FFF;
    --cards-color: rgb(250, 235, 215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::first-letter {
    text-transform: uppercase;
}

.body {
    overflow-x: hidden;
}

.strong {
    font-weight: 900;
}

.hero__banner {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    background-image: url(../img/Balcao\ de\ frutas\ e\ legumes.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    position: absolute;
    font-family: var(--font-title);
    margin-top: 18rem;
    font-weight: var(--weight-400);
    font-size: 6.5rem;
    letter-spacing: 1px;
}

.hero__btn {
    display: none;
}

.main {
    text-align: center;
    font-family: var(--font-title);
    background-color: var(--primary-color);
    height: 95dvh;
    padding: 1.2rem 0;
}

.main__title {
    color: var(--secundary-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.cards--shadow {
    box-shadow: -7px 2px 14px 0px rgba(0, 0, 0, 0.45);
    max-width: 94%;
    margin: 0 auto;
    border-radius: 1rem;
}

.cards {
    background-color: var(--cards-color);
    max-height: 75dvh;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    clip-path: inset(0 0 0 0 round 1rem);
}

.cards__card {
    font-family: var(--font-text);
    background-color: var(--cards-color);
    max-width: 250px;
    max-height: 500px;
    margin: 1.2rem 0;
    outline: 2px solid var(--secundary-color);
    border-radius: 1rem;
    animation: 1ms fade linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 40%;
    transition: transform .3s linear;
    box-shadow: -7px 2px 14px 0px rgba(0, 0, 0, 0.45);


    &:hover {
        transform: scale(1.04);
    }
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card__img {
    width: 15.625rem;
    height: 13.75rem;
    width: fit-content;
    border-radius: 1rem 1rem 0 0;
    display: block;
}

.card__text {
    border-radius: 0 0 1rem 1rem;
    height: 4.2rem;
    padding: .4rem 0 .6rem;
}

.card__title {
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: var(--weight-600);
    margin-bottom: .5rem;
}



.card__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card__btn {
    padding: .2rem .5rem;
    color: var(--secundary-color);
    font-weight: var(--weight-600);
    background-color: var(--primary-color);
    border: none;
    outline: 1.5px solid var(--secundary-color);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.card__btn:focus, .card__a:focus {
    outline: 2px solid var(--secundary-color);
    outline-offset: 2px;
}

.card__a:hover {
    text-decoration: underline;
}

.card__a {
    font-size: .88rem;
    font-weight: var(--weight-600);
    text-decoration: none;
    color: var(--secundary-color);
    transition: transform .5s ease-in-out;
}

:popover-open {
    outline: 2px solid var(--secundary-color);
    width: 45dvw;
    height: 50dvh;
    border-radius: 12px;
    line-height: 2rem;
    margin: 0 auto;
    padding: 1rem 0 0 1.5rem;
    align-self: center;
    border: none;
    white-space: normal;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
}

:popover-open h4 {
    text-align: center;
}

.popover__text {
    text-align: left;
    width: 95%;
}

.popover__btn {
    margin: 1rem 2rem 1rem 0;
    width: 5rem;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.footer {
    height: 8dvh;
    border-top: 2px solid var(--cards-color);
    background-color: var(--secundary-color);
}

.footer__info {
    margin: 0 auto;
    height: 100%;
    width: 20dvw;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    justify-content: space-around;

    h5 {
        font-size: 1rem;
        font-family: var(--font-text);
        color: var(--cards-color);
    }
}

.footer__icon a[href^="https:"] {
    color: var(--cards-color);
    font-size: 1.4rem;
    padding: .3rem;
}

.footer__icon a:hover {
    opacity: .8;
}

@media screen and (min-width: 319px) and (max-width: 359px) {

    .hero__text {
        margin-top: 20rem;
        font-size: 2.5rem;
    }

    .main__title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .cards--shadow {
        max-width: 90%;
    }

    .footer__info {
        width: 80dvw;
        display: flex;
        align-items: center;

        h5 {
            font-size: 1rem;
            font-family: var(--font-text);
            color: var(--cards-color);
        }
    }

    .footer__icon a[href^="https:"] {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 359px) and (max-width: 429px) {

    .hero__text {
        margin-top: 20rem;
        font-size: 3rem;
    }

    .main__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .cards--shadow {
        max-width: 80%;
    }

    .footer__info {
        width: 80dvw;
        display: flex;
        align-items: center;

        h5 {
            font-size: 1.1rem;
            font-family: var(--font-text);
            color: var(--cards-color);
        }
    }

    .footer__icon a[href^="https:"] {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1114) {
    
}
