@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #bcc584;
    --secundary-color: #5a5e3f;
    --tertiary-color: #FFF;
    --cards-color: #faebd7;
    --font-title: "Sevillana", serif;
    --font-text: "Raleway", serif;
}

.body {
    overflow-x: hidden;
}

:popover-open {
    outline: 2px solid var(--secundary-color);
    width: 40dvw;
    height: 50dvh;
    padding: 0 20px;
    border-radius: 12px;
    text-align: left;
    line-height: 2rem;
    margin: 0 auto;
    padding: 1rem 0 0 1.5rem;
    align-self: center;
    border: none;
    white-space: normal;
    overflow-y: auto;
}

.strong {
    font-weight: 900;
}

.hero__banner {
    position: relative;
    width: 100lvw;
    height: 100lvh;
    background-image: url(../img/Balcao\ de\ frutas\ e\ legumes.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__banner__text {
    position: absolute;
    font-family: var(--font-title);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 6.5rem;
    margin-top: 18rem;
}

.main {
    text-align: center;
    font-family: var(--font-title);
    background-color: var(--primary-color);
    height: 100dvh;
}

.main__title {
    text-transform: capitalize;
    display: inline-block;
    padding-top: 1rem;
    color: var(--secundary-color);
    width: 35%;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.cards {
    background-color: var(--cards-color);
    border: 2kpx solid var(--secundary-color);
    border-radius: 1rem;
    max-width: 75%;
    max-height: 82dvh;
    padding-top: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    clip-path: inset(0 0 0 0 round 1rem);
}

.cards__card {
    font-family: var(--font-text);
    background-color: var(--cards-color);
    max-width: 15.625rem;
    height: 15.625rem;
    margin: 1.2rem 0;
    font-weight: 500;
    outline: 2px solid var(--secundary-color);
    border-radius: 1rem;
    box-shadow: -7px 0px 14px 0px rgba(0, 0, 0, 0.45);
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 40%;
    transition: transform .5s ease;
}

.cards__card:hover {
    transform: scale(1.04);
    transition: .3s linear;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card__img {
    width: 14.375rem;
    height: 11.875rem;
    margin-bottom: -4px;
    border-radius: 1rem 1rem 0 0;
}

.card__text {
    border-top: 1px solid var(--secundary-color);
    background-color: var(--cards-color);
    color: var(--secundary-color);
    border-radius: 0 0 1rem 1rem;
    height: 24%;
}

.card__text__title {
    font-size: .92rem;
    font-weight: 600;
    margin: .3rem 0 .5rem;
    /* text-align: left;
    margin-left: 1rem; */
}

.card__text__title::first-letter {
    text-transform: uppercase;
}

.card__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.popover {
    text-align: right;
}

.popover__text {
    text-align: left;
}

.card__btn {
    padding: .2rem .5rem;
    color: var(--secundary-color);
    font-weight: 600;
    background-color: var(--primary-color);
    border: none;
    outline: 1.5px solid var(--secundary-color);
    border-radius: 5px;
    cursor: pointer;
}

.card__btn::first-letter {
    text-transform: uppercase;
}

.popover__btn {
    margin: 1rem 2rem 1rem 0;
    width: 5rem;
}

.card__actions__a {
    font-size: .75rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--secundary-color);
}

.card__btn:hover, .card__actions__a:hover {
    opacity: 0.8;
}